.imperio{
    background-color: red;
}

.rebeldes{
    background-color: blue;
}

#Vader{
   font-size: large;
}

#Luke{
    font-style: italic;
}

.soldados{
    border: 10px dashed red;
}

.apoyo{
    text-align: center;
    padding: 50px;
}